In [220]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import time
import re

### Testing whether web scraping works with Kareem to capture per game stats

In [ ]:
service = Service(executable_path="/usr/local/bin")
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service=service, options=options)

In [154]:
kareem_url = 'https://www.basketball-reference.com/players/a/abdulka01.html' #Use whatever URL you're scraping from
d = driver.get(kareem_url)
html = driver.page_source
soup = BeautifulSoup(html, "lxml")

In [155]:
kareem_pergame = soup.find('table', {'id':'per_game'})

In [157]:
kareem_pergame_table = pd.read_html(str(kareem_pergame))[0]

In [158]:
kareem_pergame_table

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1969-70,22.0,MIL,NBA,C,82.0,NaN,43.1,11.4,22.1,...,0.653,NaN,NaN,14.5,4.1,NaN,NaN,NaN,3.5,28.8
1,1970-71,23.0,MIL,NBA,C,82.0,NaN,40.1,13.0,22.5,...,0.690,NaN,NaN,16.0,3.3,NaN,NaN,NaN,3.2,31.7
2,1971-72,24.0,MIL,NBA,C,81.0,NaN,44.2,14.3,24.9,...,0.689,NaN,NaN,16.6,4.6,NaN,NaN,NaN,2.9,34.8
3,1972-73,25.0,MIL,NBA,C,76.0,NaN,42.8,12.9,23.3,...,0.713,NaN,NaN,16.1,5.0,NaN,NaN,NaN,2.7,30.2
4,1973-74,26.0,MIL,NBA,C,81.0,NaN,43.8,11.7,21.7,...,0.702,3.5,11.0,14.5,4.8,1.4,3.5,NaN,2.9,27.0
5,1974-75,27.0,MIL,NBA,C,65.0,NaN,42.3,12.5,24.4,...,0.763,3.0,11.0,14.0,4.1,1.0,3.3,NaN,3.2,30.0
6,1975-76,28.0,LAL,NBA,C,82.0,NaN,41.2,11.1,21.1,...,0.703,3.3,13.5,16.9,5.0,1.5,4.1,NaN,3.6,27.7
7,1976-77,29.0,LAL,NBA,C,82.0,NaN,36.8,10.8,18.7,...,0.701,3.2,10.0,13.3,3.9,1.2,3.2,NaN,3.2,26.2
8,1977-78,30.0,LAL,NBA,C,62.0,NaN,36.5,10.7,19.4,...,0.783,3.0,9.9,12.9,4.3,1.7,3.0,3.4,2.9,25.8
9,1978-79,31.0,LAL,NBA,C,80.0,NaN,39.5,9.7,16.8,...,0.736,2.6,10.2,12.8,5.4,1.0,4.0,3.5,2.9,23.8
10,1979-80,32.0,LAL,NBA,C,82.0,NaN,38.3,10.2,16.9,...,0.765,2.3,8.5,10.8,4.5,1.0,3.4,3.6,2.6,24.8
11,1980-81,33.0,LAL,NBA,C,80.0,NaN,37.2,10.5,18.2,...,0.766,2.5,7.8,10.3,3.4,0.7,2.9,3.1,3.1,26.2
12,1981-82,34.0,LAL,NBA,C,76.0,76.0,35.2,9.9,17.1,...,0.706,2.3,6.4,8.7,3.0,0.8,2.7,3.0,2.9,23.9
13,1982-83,35.0,LAL,NBA,C,79.0,79.0,32.3,9.1,15.5,...,0.749,2.1,5.4,7.5,2.5,0.8,2.2,2.5,2.8,21.8
14,1983-84,36.0,LAL,NBA,C,80.0,80.0,32.8,9.0,15.5,...,0.723,2.1,5.2,7.3,2.6,0.7,1.8,2.8,2.6,21.5
15,1984-85,37.0,LAL,NBA,C,79.0,79.0,33.3,9.2,15.3,...,0.732,2.1,5.8,7.9,3.2,0.8,2.1,2.5,3.0,22.0
16,1985-86,38.0,LAL,NBA,C,79.0,79.0,33.3,9.6,16.9,...,0.765,1.7,4.4,6.1,3.5,0.8,1.6,2.6,3.1,23.4
17,1986-87,39.0,LAL,NBA,C,78.0,78.0,31.3,7.2,12.7,...,0.714,1.9,4.8,6.7,2.6,0.6,1.2,2.4,3.1,17.5
18,1987-88,40.0,LAL,NBA,C,80.0,80.0,28.9,6.0,11.3,...,0.762,1.5,4.5,6.0,1.7,0.6,1.2,2.0,2.7,14.6
19,1988-89,41.0,LAL,NBA,C,74.0,74.0,22.9,4.2,8.9,...,0.739,1.4,3.1,4.5,1.0,0.5,1.1,1.3,2.6,10.1
20,Career,NaN,NaN,NBA,NaN,1560.0,625.0,36.8,10.2,18.1,...,0.721,2.4,7.6,11.2,3.6,0.9,2.6,2.7,3.0,24.6
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,14 seasons,NaN,LAL,NBA,NaN,1093.0,625.0,34.3,9.1,16.0,...,0.737,2.3,7.1,9.4,3.3,0.9,2.5,2.7,2.9,22.1
23,6 seasons,NaN,MIL,NBA,NaN,467.0,NaN,42.7,12.6,23.1,...,0.695,3.3,11.0,15.3,4.3,1.2,3.4,NaN,3.1,30.4

In [159]:
career_row = kareem_pergame_table[kareem_pergame_table['Season'] == 'Career'].index.tolist()[0]
kareem_pergame_table_processed = kareem_pergame_table.iloc[:career_row-1]

In [160]:
kareem_pergame_table_processed

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1969-70,22.0,MIL,NBA,C,82.0,NaN,43.1,11.4,22.1,...,0.653,NaN,NaN,14.5,4.1,NaN,NaN,NaN,3.5,28.8
1,1970-71,23.0,MIL,NBA,C,82.0,NaN,40.1,13.0,22.5,...,0.690,NaN,NaN,16.0,3.3,NaN,NaN,NaN,3.2,31.7
2,1971-72,24.0,MIL,NBA,C,81.0,NaN,44.2,14.3,24.9,...,0.689,NaN,NaN,16.6,4.6,NaN,NaN,NaN,2.9,34.8
3,1972-73,25.0,MIL,NBA,C,76.0,NaN,42.8,12.9,23.3,...,0.713,NaN,NaN,16.1,5.0,NaN,NaN,NaN,2.7,30.2
4,1973-74,26.0,MIL,NBA,C,81.0,NaN,43.8,11.7,21.7,...,0.702,3.5,11.0,14.5,4.8,1.4,3.5,NaN,2.9,27.0
5,1974-75,27.0,MIL,NBA,C,65.0,NaN,42.3,12.5,24.4,...,0.763,3.0,11.0,14.0,4.1,1.0,3.3,NaN,3.2,30.0
6,1975-76,28.0,LAL,NBA,C,82.0,NaN,41.2,11.1,21.1,...,0.703,3.3,13.5,16.9,5.0,1.5,4.1,NaN,3.6,27.7
7,1976-77,29.0,LAL,NBA,C,82.0,NaN,36.8,10.8,18.7,...,0.701,3.2,10.0,13.3,3.9,1.2,3.2,NaN,3.2,26.2
8,1977-78,30.0,LAL,NBA,C,62.0,NaN,36.5,10.7,19.4,...,0.783,3.0,9.9,12.9,4.3,1.7,3.0,3.4,2.9,25.8
9,1978-79,31.0,LAL,NBA,C,80.0,NaN,39.5,9.7,16.8,...,0.736,2.6,10.2,12.8,5.4,1.0,4.0,3.5,2.9,23.8
10,1979-80,32.0,LAL,NBA,C,82.0,NaN,38.3,10.2,16.9,...,0.765,2.3,8.5,10.8,4.5,1.0,3.4,3.6,2.6,24.8
11,1980-81,33.0,LAL,NBA,C,80.0,NaN,37.2,10.5,18.2,...,0.766,2.5,7.8,10.3,3.4,0.7,2.9,3.1,3.1,26.2
12,1981-82,34.0,LAL,NBA,C,76.0,76.0,35.2,9.9,17.1,...,0.706,2.3,6.4,8.7,3.0,0.8,2.7,3.0,2.9,23.9
13,1982-83,35.0,LAL,NBA,C,79.0,79.0,32.3,9.1,15.5,...,0.749,2.1,5.4,7.5,2.5,0.8,2.2,2.5,2.8,21.8
14,1983-84,36.0,LAL,NBA,C,80.0,80.0,32.8,9.0,15.5,...,0.723,2.1,5.2,7.3,2.6,0.7,1.8,2.8,2.6,21.5
15,1984-85,37.0,LAL,NBA,C,79.0,79.0,33.3,9.2,15.3,...,0.732,2.1,5.8,7.9,3.2,0.8,2.1,2.5,3.0,22.0
16,1985-86,38.0,LAL,NBA,C,79.0,79.0,33.3,9.6,16.9,...,0.765,1.7,4.4,6.1,3.5,0.8,1.6,2.6,3.1,23.4
17,1986-87,39.0,LAL,NBA,C,78.0,78.0,31.3,7.2,12.7,...,0.714,1.9,4.8,6.7,2.6,0.6,1.2,2.4,3.1,17.5
18,1987-88,40.0,LAL,NBA,C,80.0,80.0,28.9,6.0,11.3,...,0.762,1.5,4.5,6.0,1.7,0.6,1.2,2.0,2.7,14.6

In [161]:
kareem_teams = kareem_pergame_table['Tm'].unique()
kareem_teams

array(['MIL', 'LAL', nan], dtype=object)

In [162]:
kareem_teams = kareem_teams[~pd.isnull(kareem_teams)]
kareem_teams

array(['MIL', 'LAL'], dtype=object)

In [168]:
kareem_full = kareem_pergame_table_processed.apply(lambda x: x.dropna().max()).to_frame().T
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1987-88,40.0,MIL,NBA,C,82.0,80.0,44.2,14.3,24.9,...,0.783,3.5,13.5,16.9,5.4,1.7,4.1,3.6,3.6,34.8

In [169]:
kareem_full.loc[0, 'Tm'] = kareem_teams
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1987-88,40.0,"[MIL, LAL]",NBA,C,82.0,80.0,44.2,14.3,24.9,...,0.783,3.5,13.5,16.9,5.4,1.7,4.1,3.6,3.6,34.8

## Got a processed per game row with max of each category kept and "Tm" being an array of all teams played on

### Now to try game highs section

In [170]:
kareem_highs = soup.find('table', {'id':'stathead_insights'})

In [177]:
kareem_highs_table = pd.read_html(str(kareem_highs))[0]
kareem_highs_table

                 Highlight  Unnamed: 1                        In Stathead
0      Career high, Points        55.0  View full stats from top 20 games
1    Career high, Rebounds        34.0  View full stats from top 20 games
2     Career high, Assists        14.0  View full stats from top 20 games
3      Career high, Steals         7.0  View full stats from top 20 games
4      Career high, Blocks        11.0  View full stats from top 20 games
5  Career high, Game Score        42.5  View full stats from top 20 games
6           Triple-Doubles        21.0                           View all

In [182]:
kareem_highs_table['Unnamed: 1'].tolist()

[55.0, 34.0, 14.0, 7.0, 11.0, 42.5, 21.0]

In [183]:
kareem_highs_table["Highlight"].tolist()

['Career high, Points',
 'Career high, Rebounds',
 'Career high, Assists',
 'Career high, Steals',
 'Career high, Blocks',
 'Career high, Game Score',
 'Triple-Doubles']

In [184]:
kareem_full[kareem_highs_table["Highlight"].tolist()] = kareem_highs_table['Unnamed: 1'].tolist()

In [185]:
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,TOV,PF,PTS,"Career high, Points","Career high, Rebounds","Career high, Assists","Career high, Steals","Career high, Blocks","Career high, Game Score",Triple-Doubles
0,1987-88,40.0,"[MIL, LAL]",NBA,C,82.0,80.0,44.2,14.3,24.9,...,3.6,3.6,34.8,55.0,34.0,14.0,7.0,11.0,42.5,21.0

### Now college stats

In [108]:
kareem_college = soup_sel.find('table', {'id':'all_college_stats'})

In [210]:
kareem_college_table = pd.read_html(str(kareem_college))[0]

In [211]:
kareem_college_table.columns = kareem_college_table.columns.droplevel()
kareem_college_table

,Season,Age,College,G,MP,FG,FGA,3P,3PA,FT,...,TOV,PF,PTS,FG%,3P%,FT%,MP,PTS,TRB,AST
0,1965-66,18.0,UCLA,21,NaN,295,432,NaN,NaN,106,...,NaN,NaN,696,0.683,NaN,0.592,NaN,33.1,21.5,NaN
1,1966-67,19.0,UCLA,30,NaN,346,519,NaN,NaN,178,...,NaN,66.0,870,0.667,NaN,0.650,NaN,29.0,15.5,NaN
2,1967-68,20.0,UCLA,28,NaN,294,480,NaN,NaN,146,...,NaN,68.0,734,0.613,NaN,0.616,NaN,26.2,16.5,NaN
3,1968-69,21.0,UCLA,30,NaN,303,477,NaN,NaN,115,...,NaN,61.0,721,0.635,NaN,0.612,NaN,24.0,14.7,NaN
4,Career,NaN,NaN,88,NaN,943,1476,NaN,NaN,439,...,NaN,195.0,2325,0.639,NaN,0.628,NaN,26.4,15.5,NaN

In [212]:
kareem_college_teams = kareem_college_table['College'].unique()
kareem_college_teams = kareem_college_teams[~pd.isnull(kareem_college_teams)]
kareem_college_teams

array(['UCLA'], dtype=object)

In [213]:
kareem_full.loc[0, 'College'] = kareem_college_teams

In [214]:
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,PF,PTS,"Career high, Points","Career high, Rebounds","Career high, Assists","Career high, Steals","Career high, Blocks","Career high, Game Score",Triple-Doubles,College
0,1987-88,40.0,"[MIL, LAL]",NBA,C,82.0,80.0,44.2,14.3,24.9,...,3.6,34.8,55.0,34.0,14.0,7.0,11.0,42.5,21.0,[UCLA]

### Now get all the awards

In [215]:
kareem_allstar = soup.find(id='leaderboard_allstar')

In [224]:
kareem_all_star_text = [button.text for button in kareem_allstar][-2]
kareem_all_star_text

'19 All-Star Games'

In [225]:
kareem_num_all_stars = int(re.findall("\d+", kareem_all_star_text)[0])

In [226]:
kareem_full["All Star Games"] = kareem_num_all_stars

In [130]:
kareem_champs = soup.find(id='leaderboard_championships')

In [227]:
kareem_champs_text = [button.text for button in kareem_champs][-2]
kareem_champs_text

'6 Championships'

In [228]:
kareem_num_champs = int(re.findall("\d+", kareem_champs_text)[0])

In [229]:
kareem_full["Championships"] = kareem_num_all_stars

In [236]:
kareem_hof = soup.find(id='leaderboard_hof_prob')

In [237]:
kareem_hof_text = [button.text for button in kareem_hof][-2]
kareem_hof_text

'\nHall of Fame Probability  100%\n\n'

In [241]:
kareem_hof_prob = int(re.findall("\d+", kareem_hof_text)[0])

In [242]:
if (kareem_hof_prob) == 100:
    kareem_full["HOF"] = 1
else:
    kareem_full["HOF"] = 0

In [243]:
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,"Career high, Rebounds","Career high, Assists","Career high, Steals","Career high, Blocks","Career high, Game Score",Triple-Doubles,College,All Star Games,Championships,HOF
0,1987-88,40.0,"[MIL, LAL]",NBA,C,82.0,80.0,44.2,14.3,24.9,...,34.0,14.0,7.0,11.0,42.5,21.0,[UCLA],19,19,1

In [249]:
kareem_drafted = soup.findAll('p', class_='transaction')[0].text

In [250]:
kareem_drafted

'April 7, 1969: Drafted by the Milwaukee Bucks in the 1st round (1st pick) of the 1969 NBA Draft.'

In [268]:
kareem_match = re.search(r'\b\d+(?:st|nd|rd|th) pick\b', kareem_drafted).group(0)
kareem_pick = int(re.findall("\d+", kareem_match)[0])

In [270]:
kareem_full["Pick #"] = kareem_pick

In [272]:
kareem_draft_match = re.search(r'\d{4}\sNBA\sDraft', kareem_drafted).group(0)
kareem_draft_year = int(re.findall("\d+", kareem_draft_match)[0])
kareem_draft_year

1969

In [273]:
kareem_full["Draft Year"] = kareem_draft_year

## Last thing is his image URL

In [307]:
kareem_image = soup.find(class_="media-item")

In [310]:
kareem_image['src']

KeyError: 'src'

In [308]:
soup_img = BeautifulSoup(kareem_image, 'html.parser')

TypeError: 'NoneType' object is not callable

In [305]:
kareem_img_link = soup_img.img.get('src')
kareem_img_link

NameError: name 'soup_img' is not defined

In [274]:
kareem_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,"Career high, Steals","Career high, Blocks","Career high, Game Score",Triple-Doubles,College,All Star Games,Championships,HOF,Pick #,Draft Year
0,1987-88,40.0,"[MIL, LAL]",NBA,C,82.0,80.0,44.2,14.3,24.9,...,7.0,11.0,42.5,21.0,[UCLA],19,19,1,1,1969