### Testing whether web scraping works with Kareem to capture per game stats

In [38]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import time
import re
import numpy as np

In [180]:
player_list = os.listdir("threadedPlayers/a")
player_0 = player_list[2]

In [181]:
player_0

'Hassan Adams.html'

In [182]:
with open("threadedPlayers/a/{}".format(player_0)) as f:
    page = f.read()

In [183]:
soup = BeautifulSoup(page, "lxml")

In [184]:
player_pergame = soup.find('table', {'id':'per_game'})

In [185]:
player_pergame_table = pd.read_html(str(player_pergame))[0]

In [186]:
player_pergame_table

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2006-07,22.0,NJN,NBA,SG,61,8,8.1,1.2,2.2,...,.667,0.6,0.7,1.3,0.2,0.3,0.1,0.4,0.8,2.9
1,2007-08,23.0,Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),...,Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy)
2,2008-09,24.0,TOR,NBA,SG,12,0,4.3,0.3,1.1,...,.500,0.1,0.5,0.6,0.1,0.1,0.1,0.3,0.3,0.9
3,Career,NaN,NaN,NBA,NaN,73,8,7.5,1.1,2.0,...,.643,0.5,0.7,1.2,0.2,0.2,0.1,0.4,0.7,2.5
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1 season,NaN,NJN,NBA,NaN,61,8,8.1,1.2,2.2,...,.667,0.6,0.7,1.3,0.2,0.3,0.1,0.4,0.8,2.9
6,1 season,NaN,TOR,NBA,NaN,12,0,4.3,0.3,1.1,...,.500,0.1,0.5,0.6,0.1,0.1,0.1,0.3,0.3,0.9

In [187]:
career_row = player_pergame_table[player_pergame_table['Season'] == 'Career'].index.tolist()[0]
player_pergame_table_processed = player_pergame_table.iloc[:career_row]

In [188]:
player_pergame_table_processed

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2006-07,22.0,NJN,NBA,SG,61,8,8.1,1.2,2.2,...,.667,0.6,0.7,1.3,0.2,0.3,0.1,0.4,0.8,2.9
1,2007-08,23.0,Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),...,Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy),Did Not Play (other pro league—Italy)
2,2008-09,24.0,TOR,NBA,SG,12,0,4.3,0.3,1.1,...,.500,0.1,0.5,0.6,0.1,0.1,0.1,0.3,0.3,0.9

In [189]:
player_teams = player_pergame_table['Tm'].unique()
player_teams

array(['NJN', 'Did Not Play\xa0(other pro league—Italy)', 'TOR', nan],
      dtype=object)

In [190]:
player_teams = player_teams[~pd.isnull(player_teams)]
# Convert the ndarray to a list of strings
player_teams_list = player_teams.astype(str).tolist()

# Remove instances longer than 4 letters
player_teams_list = [team for team in player_teams_list if len(team) <= 4]

# Convert the list back to a NumPy ndarray
player_teams = np.array(player_teams_list, dtype=object)
player_teams

array(['NJN', 'TOR'], dtype=object)

In [191]:
# Calculate the maximum numerical values for columns 4 onwards
max_numerical_values = player_pergame_table_processed.iloc[:, 5:].apply(pd.to_numeric, errors='coerce').max()

# Create a DataFrame with the maximum values as a single row
max_values_df = max_numerical_values.to_frame().T

# Update the first row of the DataFrame to keep the original values for columns 0 to 3
player_full = pd.concat([player_pergame_table_processed.iloc[:1, :5], max_values_df], axis=1)

player_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2006-07,22.0,NJN,NBA,SG,61.0,8.0,8.1,1.2,2.2,...,0.667,0.6,0.7,1.3,0.2,0.3,0.1,0.4,0.8,2.9

In [192]:
player_full.at[0, 'Tm'] = np.array(player_teams_list, dtype=object)
player_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2006-07,22.0,"[NJN, TOR]",NBA,SG,61.0,8.0,8.1,1.2,2.2,...,0.667,0.6,0.7,1.3,0.2,0.3,0.1,0.4,0.8,2.9

## Got a processed per game row with max of each category kept and "Tm" being an array of all teams played on

### Now to try game highs section

In [193]:
player_highs = soup.find('table', {'id':'stathead_insights'})

In [194]:
player_highs_table = pd.read_html(str(player_highs))[0]
player_highs_table

                 Highlight  Unnamed: 1                        In Stathead
0      Career high, Points        16.0  View full stats from top 20 games
1    Career high, Rebounds         8.0  View full stats from top 20 games
2     Career high, Assists         3.0  View full stats from top 20 games
3      Career high, Steals         3.0  View full stats from top 20 games
4      Career high, Blocks         1.0  View full stats from top 20 games
5  Career high, Game Score        13.5  View full stats from top 20 games

In [195]:
player_highs_table['Unnamed: 1'].tolist()

[16.0, 8.0, 3.0, 3.0, 1.0, 13.5]

In [196]:
player_highs_table["Highlight"].tolist()

['Career high, Points',
 'Career high, Rebounds',
 'Career high, Assists',
 'Career high, Steals',
 'Career high, Blocks',
 'Career high, Game Score']

In [197]:
player_full[player_highs_table["Highlight"].tolist()] = player_highs_table['Unnamed: 1'].tolist()

In [198]:
player_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,BLK,TOV,PF,PTS,"Career high, Points","Career high, Rebounds","Career high, Assists","Career high, Steals","Career high, Blocks","Career high, Game Score"
0,2006-07,22.0,"[NJN, TOR]",NBA,SG,61.0,8.0,8.1,1.2,2.2,...,0.1,0.4,0.8,2.9,16.0,8.0,3.0,3.0,1.0,13.5

### Now college stats

In [199]:
player_college = soup.find('table', {'id':'all_college_stats'})

In [200]:
player_college_table = pd.read_html(str(player_college))[0]

In [201]:
player_college_table.columns = player_college_table.columns.droplevel()
player_college_table

,Season,Age,College,G,MP,FG,FGA,3P,3PA,FT,...,TOV,PF,PTS,FG%,3P%,FT%,MP,PTS,TRB,AST
0,2002-03,18.0,ARIZONA,32,572,118,241,7,34,48,...,42,48,291,0.490,0.206,0.787,17.9,9.1,3.4,0.6
1,2003-04,19.0,ARIZONA,30,915,200,369,38,99,77,...,58,79,515,0.542,0.384,0.733,30.5,17.2,7.3,1.6
2,2004-05,20.0,ARIZONA,37,1091,198,403,13,43,60,...,86,76,469,0.491,0.302,0.714,29.5,12.7,6.0,2.8
3,2005-06,21.0,ARIZONA,31,1031,234,490,17,65,58,...,69,60,543,0.478,0.262,0.611,33.3,17.5,5.0,2.9
4,Career,NaN,NaN,130,3609,750,1503,75,241,243,...,255,263,1818,0.499,0.311,0.704,27.8,14.0,5.4,2.0

In [202]:
player_college_teams = player_college_table['College'].unique()
player_college_teams = player_college_teams[~pd.isnull(player_college_teams)]
player_college_teams

array(['ARIZONA'], dtype=object)

In [203]:
player_full.at[0, 'College'] = player_college_teams

In [204]:
player_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,TOV,PF,PTS,"Career high, Points","Career high, Rebounds","Career high, Assists","Career high, Steals","Career high, Blocks","Career high, Game Score",College
0,2006-07,22.0,"[NJN, TOR]",NBA,SG,61.0,8.0,8.1,1.2,2.2,...,0.4,0.8,2.9,16.0,8.0,3.0,3.0,1.0,13.5,[ARIZONA]

### Now get all the awards

In [205]:
player_allstar = soup.find(id='leaderboard_allstar')

In [206]:
if player_allstar is not None:
    player_all_star_text = [button.text for button in player_allstar][-2]
    player_num_all_stars = int(re.findall("\d+", player_all_star_text)[0])
    player_full["All Star Games"] = player_num_all_stars
else:
    player_full["All Star Games"] = 0

In [207]:
player_champs = soup.find(id='leaderboard_championships')

In [208]:
if player_champs is not None:
    player_champs_text = [button.text for button in player_allstar][-2]
    player_num_champs = int(re.findall("\d+", player_all_star_text)[0])
    player_full["Championships"] = player_num_all_stars
else:
    player_full["Championships"] = 0

In [209]:
player_hof = soup.find(id='leaderboard_hof_prob')

In [210]:
if player_hof is not None:
    player_hof_text = [button.text for button in player_hof][-2]
    player_hof_prob = int(re.findall("\d+", player_hof_text)[0])
    if (player_hof_prob) == 100:
        player_full["HOF"] = 1
    else:
        player_full["HOF"] = 0
else:
    player_full["HOF"] = 0

In [211]:
player_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,"Career high, Points","Career high, Rebounds","Career high, Assists","Career high, Steals","Career high, Blocks","Career high, Game Score",College,All Star Games,Championships,HOF
0,2006-07,22.0,"[NJN, TOR]",NBA,SG,61.0,8.0,8.1,1.2,2.2,...,16.0,8.0,3.0,3.0,1.0,13.5,[ARIZONA],0,0,0

In [212]:
player_drafted = soup.find(id="meta")
player_drafted_p = player_drafted.findAll('p')
desired_p_tag = None
for tag in player_drafted_p:
    if tag.name == 'p' and tag.strong and tag.strong.text.strip() == 'Draft:':
        desired_p_tag = tag
        break

In [213]:
if desired_p_tag is not None:
    player_draft_text = desired_p_tag.text.split('\n')[-2]
    player_match = re.search(r'\b\d+(?:st|nd|rd|th) pick\b', player_draft_text).group(0)
    player_pick = int(re.findall("\d+", player_match)[0])
    player_full["Pick #"] = player_pick
    player_draft_match = re.search(r'\d{4}\sNBA\sDraft', player_draft_text).group(0)
    player_draft_year = int(re.findall("\d+", player_draft_match)[0])
    player_full["Draft Year"] = player_draft_year
else:
    player_full["Pick #"] = None
    player_full["Draft Year"] = None

## Last thing is his image URL

In [214]:
player_image = soup.find(class_="media-item")

In [215]:
if player_image is not None:
    player_image_url = player_image.find('img')['src']
else:
    player_image_url = None

In [216]:
player_full['Image URL'] = player_image_url

In [217]:
player_full

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,"Career high, Steals","Career high, Blocks","Career high, Game Score",College,All Star Games,Championships,HOF,Pick #,Draft Year,Image URL
0,2006-07,22.0,"[NJN, TOR]",NBA,SG,61.0,8.0,8.1,1.2,2.2,...,3.0,1.0,13.5,[ARIZONA],0,0,0,24,2006,None

### Now try to put all the above code in a for loop

In [ ]:
player_entries = []
player_list = os.listdir("threadedPlayers/a")
for player in player_list:
    with open("threadedPlayers/a/{}".format(player)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "lxml")
    
    # PER GAME
    player_pergame = soup.find('table', {'id':'per_game'})
    player_pergame_table = pd.read_html(str(player_pergame))[0]
    career_row = player_pergame_table[player_pergame_table['Season'] == 'Career'].index.tolist()[0]
    player_pergame_table_processed = player_pergame_table.iloc[:career_row]
    player_teams = player_pergame_table['Tm'].unique()
    
    player_teams = player_teams[~pd.isnull(player_teams)]
    # Convert the ndarray to a list of strings
    player_teams_list = player_teams.astype(str).tolist()

    # Remove instances longer than 4 letters
    player_teams_list = [team for team in player_teams_list if len(team) <= 4]

    # Convert the list back to a NumPy ndarray
    player_teams = np.array(player_teams_list, dtype=object)
    
    # Calculate the maximum numerical values for columns 4 onwards
    max_numerical_values = player_pergame_table_processed.iloc[:, 5:].apply(pd.to_numeric, errors='coerce').max()

    # Create a DataFrame with the maximum values as a single row
    max_values_df = max_numerical_values.to_frame().T

    # Update the first row of the DataFrame to keep the original values for columns 0 to 3
    player_full = pd.concat([player_pergame_table_processed.iloc[:1, :5], max_values_df], axis=1)
    
    # Place teams played on as array
    player_full.at[0, 'Tm'] = player_teams